.item-product-hot {
    animation: productAnimate3;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
}

@keyframes productAnimate3 {
    to {
        opacity: 0;
        transform: scale(50%);
    }
    from {
        opacity: 1;
    }
}
@keyframes dropDown {
    to {
        opacity: 0;
        transform: translatey(-10%);
    }
    from {
        opacity: 1;
    }
}